DB_HOST=34.26.61.148
DB_USER=root
DB_PASS=AccuPoint01!
DB_DATABASE=pixel
DB_NAME=pixel
DB_SCHEMA=pixel
MYSQL_DB=pixel
DATABASE=pixel
TEMPLATE_DB=template
TEMPLATE_TABLE=superpixel_resolution_log
NODE_ENV=production
AUDLAB_USERNAME=shaw@accupointsolutions.com
AUDLAB_PASSWORD=AccuPoint01!
CHROME_BIN=/usr/bin/google-chrome
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
CHROME_ARGS=--no-sandbox --disable-dev-shm-usage --disable-gpu --remote-debugging-port=0 --headless=>
PORT=4001